@media screen and (max-width: 992px) {
    html {
        font-size: 12px;
    }
}

.fs-normal {
    font-size: 1rem !important;
}

.fs-big {
    font-size: 1.1rem !important;
}

.fs-large {
    font-size: 1.3rem !important;
}

.fs-small {
    font-size: .9rem !important;
}

.fs-tiny {
    font-size: .8rem !important;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #F5F5F5;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

#header-content {
    width: 90%;
}

#logo-img {
    height: 2.5rem !important;
}

#logo-text {
    font-weight: 700;
    font-size: 1.3rem;
    color: #A71D2A;
}

#filter-btn {
    background-color: white;
    border-radius: 4px 0 0 4px !important;
}

/* #filter-btn img {
    height: .8rem !important;
} */

#search-input {
    border-radius: 0 !important;
    border-left: none !important;
    border-right: none !important;
    border-color:rgb(222, 226, 230) 
}

#search-btn {
    background-color: white;
    border-radius: 0 4px 4px 0 !important;
    border-color:rgb(222, 226, 230) 
}

#search-btn img {
    height: 1rem !important;
}

#profile-img {
    height: 2.5rem !important;
}

footer {
    background-color: #F5F5F5;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, .25);
}

#color-square {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
}

.color-other {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}


#ads-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.ad-item {
    width: 45%;
    height: 13rem;
}

@media screen and (max-width: 768px) {
    .ad-item {
        width: 100%;
    }
}

.ad-banner {
    background-size: cover;
    background-position: center center;
}

#profile-img {
    width: 2.5em;
    padding-bottom: 2.5em;
    background-size: cover;
    background-position: center center;
}
