@media screen and (max-width: 992px) {
    html {
        font-size: 12px;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header {
    background-color: #F5F5F5;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

#header-content {
    width: 90%;
}

#logo-img {
    height: 2.5rem !important;
}

#logo-text {
    font-weight: 700;
    font-size: 1.3rem;
    color: #A71D2A;
}

.btn-outline-secondary {
    border-color: rgb(206, 212, 218);
    border-width: 1px;
}

.btn-outline-secondary:not(:hover) {
    color: rgb(33, 37, 41)
}

.btn-outline-secondary:not(:hover) {
    background-color: white !important;
}

#profile-img {
    height: 2.5rem !important;
}


main {
    width: 90%;
    margin: 0 auto;
}

.fs-normal {
    font-size: 1rem !important;
}

.fs-big {
    font-size: 1.1rem !important;
}

.fs-large {
    font-size: 1.3rem !important;
}

.fs-small {
    font-size: .9rem !important;
}

.fs-tiny {
    font-size: .8rem !important;
}


footer {
    background-color: #F5F5F5;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, .25);
}

#footer-content {
    width: 90%;
    margin: 0 auto;
}

#vk-link img, #yt-link img {
    height: 1.3rem;
}

#ok-link img {
    height: 1.6rem;
}



.error-block {
    white-space: pre-line;
}

.color-square {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
}

.color-other {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.ads-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ad-card {
    height: 13rem;
}

.ads-list .ad-card {
    width: 45%;
}

@media screen and (max-width: 768px) {
    .ads-list .ad-card {
        width: 75%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 567px) {
    .ads-list .ad-card {
        width: 100%;
    }
}

.ad-banner {
    background-size: cover;
    background-position: center center;
}

#profile-img {
    width: 2.5em;
    padding-bottom: 2.5em;
    background-size: cover;
    background-position: center center;
}

.page-item:not(.disabled, .active) .page-link {
    color: #dc3545;
}

.page-item.active .page-link {
    background-color: #dc3545;
    border-color: #dc3545;
}

.ad-link, .ad-link:hover, .ad-link:visited {
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.carousel-item {
    background-size: cover;
    background-position: center center;
    height: 23rem;
}

@media screen and (max-width: 567px) {
    .carousel-item {
        height: 15rem;
    }
}

.ad-page-description {
    white-space: pre-line;
}

.dropdown-toggle::after{
    display: none;
}

.ad-dropdown {
    height: 1em;
}

.ad-option-blocked {
    opacity: 60%;
}

.ad-seller-profile-photo {
    width: 5rem;
    padding-bottom: 5rem;
    background-size: cover;
    background-position: center center;
}

.profile-image-about {
    width: 75%;
    padding-bottom: 75%;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
}
