<div class="modal fade" id="edit-ad-modal" tabindex="-1" aria-labelledby="edit-ad-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-ad-modal-label">Редактирование объявления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body py-4">
                <form id="edit-ad-form" data-ad-id={{ ad.id }} novalidate>
                    {{ edit_ad_form.csrf_token(id="csrf-token-edit-form") }}
                    <div class="error-block text-danger" data-field="csrf_token"></div>
                    <div class="error-block text-danger" data-field="other"></div>

                    {{ edit_ad_form.ad_id(value=ad.id) }}

                    <div class="container">
                        <div class="row gx-5">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ edit_ad_form.transport_type.label() }}
                                    {{ edit_ad_form.transport_type(
                                    class="form-control car-info-select",
                                    id="transportTypeEditAd",
                                    data_fill_next_method="/marks"
                                    ) }}
                                    <div class="error-block text-danger" data-field="transport_type"></div>
                                </div>

                                <div class="mb-3">
                                    {{ edit_ad_form.mark.label() }}
                                    {{ edit_ad_form.mark(
                                    class="form-control car-info-select",
                                    id="markEditAd",
                                    data_fill_next_method="/models",
                                    disabled="true"
                                    ) }}
                                    <div class="error-block text-danger" data-field="mark"></div>
                                </div>

                                <div class="mb-3">
                                    {{ edit_ad_form.model.label() }}
                                    {{ edit_ad_form.model(
                                    class="form-control car-info-select",
                                    id="modelEditAd",
                                    data_fill_next_method="/generations",
                                    disabled="true"
                                    ) }}
                                    <div class="error-block text-danger" data-field="model"></div>
                                </div>

                                <div class="mb-3">
                                    {{ edit_ad_form.generation.label() }}
                                    {{ edit_ad_form.generation(
                                    class="form-control car-info-select generation-select",
                                    id="generationEditAd",
                                    data_fill_next_method="/series",
                                    data_year="#year-edit-ad",
                                    disabled="true"
                                    ) }}
                                    <div class="error-block text-danger" data-field="generation"></div>
                                </div>

                                <div class="mb-3">
                                    {{ edit_ad_form.serie.label() }}
                                    {{ edit_ad_form.serie(
                                    class="form-control car-info-select",
                                    id="serieEditAd",
                                    data_fill_next_method="/modifications",
                                    disabled="true"
                                    ) }}
                                    <div class="error-block text-danger" data-field="serie"></div>
                                </div>

                                <div class="mb-3">
                                    {{ edit_ad_form.modification.label() }}
                                    {{ edit_ad_form.modification(
                                    class="form-control car-info-select",
                                    id="modificationEditAd",
                                    disabled="true"
                                    ) }}
                                    <div class="error-block text-danger" data-field="modification"></div>
                                </div>

                                <div class="mb-3">
                                    {{ edit_ad_form.release_year.label() }}
                                    {{ edit_ad_form.release_year(
                                    class="form-control",
                                    id="year-edit-ad",
                                    value=ad.release_year
                                    ) }}
                                    <div class="error-block text-danger" data-field="release_year"></div>
                                </div>

                                <div class="mb-3">
                                    {{ edit_ad_form.mileage.label() }}
                                    {{ edit_ad_form.mileage(class="form-control", value=ad.mileage) }}
                                    <div class="error-block text-danger" data-field="mileage"></div>
                                </div>

                                <div class="mb-3">
                                    {{ edit_ad_form.pts_type.label() }}
                                    {{ edit_ad_form.pts_type(class="form-control") }}
                                    <div class="error-block text-danger" data-field="pts_type"></div>
                                </div>

                                <div class="mb-3">
                                    {{ edit_ad_form.owners_count.label() }}
                                    {{ edit_ad_form.owners_count(class="form-control", value=ad.owners_count) }}
                                    <div class="error-block text-danger" data-field="owners_count"></div>
                                </div>

                                <div class="mb-3">
                                    {{ edit_ad_form.is_broken.label() }}
                                    {{ edit_ad_form.is_broken(class="form-control", value=ad.is_broken) }}
                                    <div class="error-block text-danger" data-field="is_broken"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <div class="color-other color-square" id="color-square-edit-ad"></div>
                                    {{ edit_ad_form.color.label() }}
                                    {{ edit_ad_form.color(
                                    class="form-control color-picker",
                                    id="color-edit-ad",
                                    data_square="#color-square-edit-ad"
                                    ) }}
                                    <div class="error-block text-danger" data-field="color"></div>
                                </div>

                                <div class="mb-3">
                                    {{ edit_ad_form.vin.label() }}
                                    {{ edit_ad_form.vin(class="form-control", autocomplete="off", value=ad.vin)}}
                                    <div class="error-block text-danger" data-field="vin"></div>
                                </div>

                                <div class="mb-3">
                                    <label for="photo_1">Изменить главное фото</label>
                                    {{ edit_ad_form.photo_1(
                                        class="form-control",
                                    ) }}
                                    <div class="mt-2">
                                        {{ edit_ad_form.delete_photo_1(class="form-check-input") }}
                                        {{ edit_ad_form.delete_photo_1.label(class="form-check-label") }}
                                    </div>
                                    <div class="form-text">{{ edit_ad_form.photo_1.description }}</div>
                                    <div class="error-block text-danger" data-field="photo_1"></div>
                                </div>

                                <div class="mb-3">
                                    <label for="photo_2">Изменить доп. фото 1</label>
                                    {{ edit_ad_form.photo_2(
                                        class="form-control",
                                    ) }}
                                    <div class="mt-2">
                                        {{ edit_ad_form.delete_photo_2(class="form-check-input") }}
                                        {{ edit_ad_form.delete_photo_2.label(class="form-check-label") }}
                                    </div>
                                    <div class="error-block text-danger" data-field="photo_2"></div>
                                </div>

                                <div class="mb-3">
                                    <label for="photo_3">Изменить доп. фото 2</label>
                                    {{ edit_ad_form.photo_3(
                                        class="form-control",
                                    ) }}
                                    <div class="mt-2">
                                        {{ edit_ad_form.delete_photo_3(class="form-check-input") }}
                                        {{ edit_ad_form.delete_photo_3.label(class="form-check-label") }}
                                    </div>
                                    <div class="error-block text-danger" data-field="photo_3"></div>
                                </div>

                                <div class="mb-3">
                                    {{ edit_ad_form.price.label() }}
                                    {{ edit_ad_form.price(class="form-control", value=ad.price) }}
                                    <div class="error-block text-danger" data-field="price"></div>
                                </div>

                                <div class="mb-3">
                                    {{ edit_ad_form.location.label() }}
                                    {{ edit_ad_form.location(
                                    class="form-control",
                                    id="locationEditAd",
                                    value=ad.location.name if ad.location,
                                    list="location-datalist-edit-ad",
                                    autocomplete="off"
                                    ) }}
                                    <datalist class="location-datalist" id="location-datalist-edit-ad"></datalist>
                                    <div class="error-block text-danger" data-field="location"></div>
                                </div>

                                <div class="mb-3">
                                    {{ edit_ad_form.description.label() }}
                                    {{ edit_ad_form.description(class="form-control", rows=10, data=ad.description) }}
                                    <div class="error-block text-danger" data-field="description"></div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-text ms-2">* - поля, обязательные для заполнения</div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                {{ edit_ad_form.submit(class="btn btn-danger", form="edit-ad-form", value="Сохранить изменения") }}
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editAdSuccessModal" tabindex="-1" aria-labelledby="editAdSuccessModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAdSuccessModalLabel">Редактирование объявления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body d-flex flex-column justify-content-center align-items-center my-3">
                <img src="/static/img/success.svg" alt="success" class="my-3">
                <div class="mt-3" style="width: 90%;">Ваше объявление отправлено на проверку. После её прохождения оно
                    будет опубликовано на сайте.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="window.location.reload()">Вернуться на сайт</button>
            </div>
        </div>
    </div>
</div>