<div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="login-modal-label">Фильтрация поиска</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id="filtersForm" novalidate>
                    {{ filters_form.csrf_token(id="csrf-token-filters") }}
                    <div class="error-block text-danger" data-field="csrf_token"></div>
                    <div class="container">
                        <div class="row g-3">
                            <div class="col-lg-6 mt-4">
                                <div class="container mb-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-4 col-lg-5">
                                            {{ filters_form.transport_type.label() }}
                                        </div>
                                        <div class="col-8 col-lg-7">
                                            {{ filters_form.transport_type(
                                            class="form-control car-info-select",
                                            id="transport-type-filters",
                                            data_next_select="#mark-filters",
                                            data_fill_next_method="/marks"
                                            ) }}
                                            <div class="error-block text-danger" data-field="transport_type"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container mb-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-4 col-lg-5">
                                            {{ filters_form.mark.label() }}
                                        </div>
                                        <div class="col-8 col-lg-7">
                                            {{ filters_form.mark(
                                            class="form-control car-info-select",
                                            id="mark-filters",
                                            data_next_select="#model-filters",
                                            data_fill_next_method="/models",
                                            disabled="true"
                                            ) }}
                                            <div class="error-block text-danger" data-field="mark"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container mb-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-4 col-lg-5">
                                            {{ filters_form.model.label() }}
                                        </div>
                                        <div class="col-8 col-lg-7">
                                            {{ filters_form.model(
                                            class="form-control car-info-select",
                                            id="model-filters",
                                            data_next_select="#generation-filters",
                                            data_fill_next_method="/generations",
                                            disabled="true"
                                            ) }}
                                            <div class="error-block text-danger" data-field="model"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container mb-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-4 col-lg-5">
                                            {{ filters_form.generation.label() }}
                                        </div>
                                        <div class="col-8 col-lg-7">
                                            {{ filters_form.generation(
                                            class="form-control car-info-select generation-select",
                                            id="generation-filters",
                                            data_next_select="#serie-filters",
                                            data_fill_next_method="/series",
                                            data_year_begin="#year-begin-filters",
                                            data_year_end="#year-end-filters",
                                            disabled="true"
                                            ) }}
                                            <div class="error-block text-danger" data-field="generation"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container mb-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-4 col-lg-5">
                                            {{ filters_form.serie.label() }}
                                        </div>
                                        <div class="col-8 col-lg-7">
                                            {{ filters_form.serie(
                                            class="form-control car-info-select",
                                            id="serie-filters",
                                            data_next_select="#modification-filters",
                                            data_fill_next_method="/modifications",
                                            disabled="true"
                                            ) }}
                                            <div class="error-block text-danger" data-field="serie"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container mb-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-4 col-lg-5">
                                            {{ filters_form.modification.label() }}
                                        </div>
                                        <div class="col-8 col-lg-7">
                                            {{ filters_form.modification(
                                            class="form-control car-info-select",
                                            id="modification-filters",
                                            disabled="true"
                                            ) }}
                                            <div class="error-block text-danger" data-field="modification"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container mb-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-4 col-lg-5 d-flex align-items-center">
                                            <div class="color-other color-square me-2" id="color-square-filters"></div>
                                            {{ filters_form.color.label() }}
                                        </div>
                                        <div class="col-8 col-lg-7">
                                            {{ filters_form.color(
                                            class="form-control color-picker",
                                            id="color-filters",
                                            data_square="#color-square-filters"
                                            ) }}
                                            <div class="error-block text-danger" data-field="color"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mt-0 mt-lg-4">
                                <div class="container mb-4">
                                    <div class="row d-flex align-items-center g-2">
                                        <div class="col-4">
                                            <label for="price_low_limit">{{ filters_form.price_begin.description
                                                }}</label>
                                        </div>
                                        <div class="col-4">
                                            {{ filters_form.price_begin(class="form-control",
                                            placeholder=filters_form.price_begin.label.text ) }}
                                        </div>
                                        <div class="col-4">
                                            {{ filters_form.price_end(class="form-control",
                                            placeholder=filters_form.price_end.label.text) }}
                                        </div>
                                        <div class="error-block text-danger" data-field="price_begin"></div>
                                        <div class="error-block text-danger" data-field="price_end"></div>
                                    </div>
                                </div>
                                <div class="container mb-4">
                                    <div class="row d-flex align-items-center g-2">
                                        <div class="col-4">
                                            <label for="price_low_limit">{{
                                                filters_form.release_year_begin.description }}</label>
                                        </div>
                                        <div class="col-4">
                                            {{ filters_form.release_year_begin(
                                            class="form-control",
                                            id="year-begin-filters",
                                            placeholder=filters_form.release_year_begin.label.text
                                            ) }}
                                        </div>
                                        <div class="col-4">
                                            {{ filters_form.release_year_end(
                                            class="form-control",
                                            id="year-end-filters",
                                            placeholder=filters_form.release_year_end.label.text
                                            ) }}
                                        </div>
                                        <div class="error-block text-danger" data-field="release_year_begin"></div>
                                        <div class="error-block text-danger" data-field="release_year_end"></div>
                                    </div>
                                </div>
                                <div class="container mb-4">
                                    <div class="row d-flex align-items-center g-2">
                                        <div class="col-4">
                                            <label for="mileage_low_limit">{{ filters_form.mileage_begin.description
                                                }}</label>
                                        </div>
                                        <div class="col-4">
                                            {{ filters_form.mileage_begin(class="form-control",
                                            placeholder=filters_form.mileage_begin.label.text ) }}
                                        </div>
                                        <div class="col-4">
                                            {{ filters_form.mileage_end(class="form-control",
                                            placeholder=filters_form.mileage_end.label.text) }}
                                        </div>
                                        <div class="error-block text-danger" data-field="mileage_begin"></div>
                                        <div class="error-block text-danger" data-field="mileage_end"></div>
                                    </div>
                                </div>
                                <div class="container mb-4">
                                    <div class="row d-flex align-items-center g-2">
                                        <div class="col-4 pe-3">
                                            <label for="owners_count_low_limit">{{
                                                filters_form.owners_count_begin.description }}</label>
                                        </div>
                                        <div class="col-4">
                                            {{ filters_form.owners_count_begin(class="form-control",
                                            placeholder=filters_form.owners_count_begin.label.text ) }}
                                        </div>
                                        <div class="col-4">
                                            {{ filters_form.owners_count_end(class="form-control",
                                            placeholder=filters_form.owners_count_end.label.text) }}
                                        </div>
                                        <div class="error-block text-danger" data-field="owners_count_begin"></div>
                                        <div class="error-block text-danger" data-field="owners_count_end"></div>
                                    </div>
                                </div>
                                <div class="container mb-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-5">
                                            {{ filters_form.is_broken.label() }}
                                        </div>
                                        <div class="col-7">
                                            {{ filters_form.is_broken(class="form-control") }}
                                        </div>
                                        <div class="error-block text-danger" data-field="is_broken"></div>
                                    </div>
                                </div>
                                <div class="container mb-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-5">
                                            {{ filters_form.location.label() }}
                                        </div>
                                        <div class="col-7">
                                            {{ filters_form.location(
                                            class="form-control",
                                            id="locationFilters",
                                            value=(current_user.location.name
                                            if not current_user.is_anonymous),
                                            list="location-datalist-filters",
                                            autocomplete="off"
                                            ) }}
                                            <datalist class="location-datalist"
                                                id="location-datalist-filters"></datalist>
                                        </div>
                                        <div class="error-block text-danger" data-field="location"></div>
                                    </div>
                                </div>
                                <div class="container mb-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-5">
                                            {{ filters_form.per_page.label() }}
                                        </div>
                                        <div class="col-7">
                                            {{ filters_form.per_page(class="form-control") }}
                                        </div>
                                        <div class="error-block text-danger" data-field="per_page"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-secondary" id="resetFilters">Сбросить фильтры</button>
                {{ filters_form.submit(
                class="btn btn-danger",
                id="submitFilters",
                form="filtersForm"
                ) }}
            </div>
        </div>
    </div>
</div>