<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/img/logo.svg" type="image/x-icon">
    <title>Главная - AutoAds</title>
</head>

<body>
    <header class="p-3 mb-3 border-bottom fs-normal">
        <div class="mx-auto d-flex flex-column flex-md-row justify-content-center align-items-center"
            id="header-content">
            <a href="/" class="d-flex align-items-center mb-4 mb-md-0 text-decoration-none">
                <img src="static/img/logo.svg" alt="logo" id="logo-img">
                <span class="ms-3" id="logo-text">AutoAds</span>
            </a>

            <form class="mb-4 mb-md-0 ms-md-5 me-md-4 w-100 flex-md-grow-1 d-flex">
                <button class="btn border d-flex align-items-center px-3" id="filter-btn">
                    <img src="static/img/filter.svg" alt="filter">
                    <span class="ms-2">Фильтры</span>
                </button>
                <input type="search" class="form-control d-inline" id="search-input" placeholder="Найти..."
                    aria-label="Search">
                <button class="btn border" id="search-btn">
                    <img src="static/img/loupe.svg" alt="loupe">
                </button>
            </form>

            {% if current_user.is_anonymous %}
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                data-bs-target="#login-modal">Вход</button>

            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#signup-modal">Регистрация</button>
            {% else %}
            <div class="d-flex mb-2 mb-md-0">
                <div class="dropdown text-end">
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if photo_filename %}
                        <img src={{ photo_filename }} alt="profile" class="rounded-circle" id="profile-img">
                        {% else %}
                        <img src="static/img/profile.svg" alt="profile" class="rounded-circle" id="profile-img">
                        {% endif %}
                        <span class="ms-2">{{ current_user.login }}</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">Профиль</a></li>
                        <li><a class="dropdown-item" href="#">Сообщения</a></li>
                        {% if current_user.is_admin %}
                        <li><a class="dropdown-item" href="#">Модерация</a></li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href={{ url_for('logout') }}>Выйти</a></li>
                    </ul>
                </div>

                <button class="btn btn-danger ms-5 ms-md-4 px-4 text-nowrap" data-bs-toggle="modal"
                    data-bs-target="#newAdModal">Новое объявление</button>
                {% endif %}
            </div>
        </div>
    </header>

    <main class="flex-grow-1">
        {% block content %}
        {% endblock %}
    </main>

    <!-- <div class="container"> -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <hr class="w-100"><br>
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">© 2023, КГУ</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-muted" href="https://vk.com">
                    <img src="static/img/vk.svg" alt="vk">
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="https://ok.ru">
                    <img src="static/img/ok.svg" alt="ok">
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="https://youtube.com">
                    <img src="static/img/youtube.svg" alt="youtube">
                </a>
            </li>
        </ul>
    </footer>
    <!-- </div> -->

    {% if login_form %}
    <!-- Форма авторизации -->
    <div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="login-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="login-modal-label">Вход</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form id="loginForm" novalidate>
                        {{ login_form.hidden_tag() }}
                        <div class="error-block text-danger" data-field="csrf_token"></div>
                        <div class="error-block text-danger" data-field="other"></div>

                        <div class="mb-3">
                            {{ login_form.login(size=32, class="form-control", placeholder=login_form.login.label.text,
                            autocomplete="off")}}
                            <div class="error-block text-danger" data-field="login"></div>
                        </div>
                        <div class="mb-3">
                            {{ login_form.password(size=32, class="form-control",
                            placeholder=login_form.password.label.text)}}
                            <div class="error-block text-danger" data-field="password"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    {{ login_form.submit(class="btn btn-danger", form="loginForm") }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if signup_form %}
    <!-- Форма регистрации -->
    <div class="modal fade" id="signup-modal" tabindex="-1" aria-labelledby="signup-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signup-modal-label">Регистрация</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form id="signupForm" enctype="multipart/form-data" novalidate>
                        {{ signup_form.hidden_tag() }}
                        <div class="error-block text-danger" data-field="csrf_token"></div>

                        <div class="mb-3">
                            {{ signup_form.photo.label() }}
                            {{ signup_form.photo(class="form-control") }}
                            <div class="form-text">{{ signup_form.photo.description }}</div>
                            <div class="error-block text-danger" data-field="photo"></div>
                        </div>

                        <div class="mb-3">
                            {{ signup_form.last_name.label() }}
                            {{ signup_form.last_name(class="form-control", autocomplete="off") }}
                            <div class="error-block text-danger" data-field="last_name"></div>
                        </div>

                        <div class="mb-3">
                            {{ signup_form.first_name.label() }}
                            {{ signup_form.first_name(class="form-control", autocomplete="off") }}
                            <div class="error-block text-danger" data-field="first_name"></div>
                        </div>

                        <div class="mb-3">
                            {{ signup_form.patronymic.label() }}
                            {{ signup_form.patronymic(class="form-control", autocomplete="off") }}
                            <div class="error-block text-danger" data-field="patronymic"></div>
                        </div>

                        <div class="mb-3">
                            {{ signup_form.signup_login.label() }}
                            {{ signup_form.signup_login(class="form-control", autocomplete="off") }}
                            <div class="form-text">{{ signup_form.signup_login.description }}</div>
                            <div class="error-block text-danger" data-field="signup_login"></div>
                        </div>

                        <div class="mb-3">
                            {{ signup_form.signup_password.label() }}
                            {{ signup_form.signup_password(class="form-control", autocomplete="off") }}
                            <div class="form-text">{{ signup_form.signup_password.description }}</div>
                            <div class="error-block text-danger" data-field="signup_password"></div>
                        </div>

                        <div class="mb-3">
                            {{ signup_form.confirm_password.label() }}
                            {{ signup_form.confirm_password(class="form-control", autocomplete="off") }}
                            <div class="error-block text-danger" data-field="confirm_password"></div>
                        </div>

                        <div class="mb-3">
                            {{ signup_form.email.label() }}
                            {{ signup_form.email(class="form-control", autocomplete="off") }}
                            <div class="error-block text-danger" data-field="email"></div>
                        </div>

                        <div class="mb-3">
                            {{ signup_form.phone_number.label() }}
                            {{ signup_form.phone_number(class="form-control", autocomplete="off") }}
                            <div class="error-block text-danger" data-field="phone_number"></div>
                        </div>

                        <div class="mb-3">
                            {{ signup_form.location.label() }}
                            {{ signup_form.location(class="form-control", list="location-datalist",
                            autocomplete="off")}}
                            <datalist id="location-datalist"></datalist>
                            <div class="error-block text-danger" data-field="location"></div>
                        </div>

                        <div class="form-text">* - поля, обязательные для заполнения</div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    {{ signup_form.signup_submit(class="btn btn-danger", form="signupForm") }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    {% if not current_user.is_anonymous %}
    <!-- Форма добавления объявления -->
    <div class="modal fade" id="newAdModal" tabindex="-1" aria-labelledby="newAdModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="login-modal-label">Создание объявления</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form id="newAdForm" novalidate>
                        {{ ad_form.hidden_tag() }}
                        <div class="error-block text-danger" data-field="csrf_token"></div>
                        <div class="error-block text-danger" data-field="other"></div>

                        <div class="mb-3">
                            {{ ad_form.transport_type.label() }}
                            {{ ad_form.transport_type(class="form-control")}}
                            <div class="error-block text-danger" data-field="transport_type"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.mark.label() }}
                            {{ ad_form.mark(class="form-control", disabled="true")}}
                            <div class="error-block text-danger" data-field="mark"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.model.label() }}
                            {{ ad_form.model(class="form-control", disabled="true")}}
                            <div class="error-block text-danger" data-field="model"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.generation.label() }}
                            {{ ad_form.generation(class="form-control", disabled="true")}}
                            <div class="error-block text-danger" data-field="generation"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.serie.label() }}
                            {{ ad_form.serie(class="form-control", disabled="true")}}
                            <div class="error-block text-danger" data-field="serie"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.modification.label() }}
                            {{ ad_form.modification(class="form-control", disabled="true")}}
                            <div class="error-block text-danger" data-field="modification"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.release_year.label() }}
                            {{ ad_form.release_year(class="form-control")}}
                            <div class="error-block text-danger" data-field="release_year"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.mileage.label() }}
                            {{ ad_form.mileage(class="form-control", value="0")}}
                            <div class="error-block text-danger" data-field="mileage"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.pts_type.label() }}
                            {{ ad_form.pts_type(class="form-control")}}
                            <div class="error-block text-danger" data-field="pts_type"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.owners_count.label() }}
                            {{ ad_form.owners_count(class="form-control", value="1")}}
                            <div class="error-block text-danger" data-field="owners_count"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.is_broken.label() }}
                            {{ ad_form.is_broken(class="form-control")}}
                            <div class="error-block text-danger" data-field="is_broken"></div>
                        </div>

                        <div class="mb-3">
                            <div class="color-other" id="color-square"></div>
                            {{ ad_form.color.label() }}
                            {{ ad_form.color(class="form-control")}}
                            <div class="error-block text-danger" data-field="color"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.vin.label() }}
                            {{ ad_form.vin(class="form-control", autocomplete="off")}}
                            <div class="error-block text-danger" data-field="vin"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.photo_1.label() }}
                            {{ ad_form.photo_1(class="form-control") }}
                            <div class="form-text">{{ ad_form.photo_1.description }}</div>
                            <div class="error-block text-danger" data-field="photo_1"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.photo_2.label() }}
                            {{ ad_form.photo_2(class="form-control") }}
                            <div class="error-block text-danger" data-field="photo_2"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.photo_3.label() }}
                            {{ ad_form.photo_3(class="form-control") }}
                            <div class="error-block text-danger" data-field="photo_3"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.price.label() }}
                            {{ ad_form.price(class="form-control") }}
                            <div class="error-block text-danger" data-field="price"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.location.label() }}
                            {{ ad_form.location(class="form-control", value=current_user.get_location(),
                            list="location-datalist", autocomplete="off") }}
                            <datalist id="location-datalist"></datalist>
                            <div class="error-block text-danger" data-field="location"></div>
                        </div>

                        <div class="mb-3">
                            {{ ad_form.description.label() }}
                            {{ ad_form.description(class="form-control", rows=10) }}
                            <div class="error-block text-danger" data-field="description"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    {{ ad_form.submit(class="btn btn-danger", form="newAdForm") }}
                </div>
                <div class="form-text">* - поля, обязательные для заполнения</div>
            </div>
        </div>
    </div>
    {% endif %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="static/script.js"></script>
</body>

</html>